label {
    display: block;
    margin-top: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

h1 {
   text-align:center;
}
.qrcode-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.qrcode-generator h1 {
margin-bottom: 30px;
}

.qrcode-image-container {
margin-top: 30px;
}

.form-group {
    width: 400px;
}
